/03. List Basics/Lab/pastebin.py
/03. List Basics/Exercise/pastebin.py
/04. Functions/Lab/pastebin.py
/04. Functions/Exercise/pastebin.py
/05. List Advanced/Lab/pastebin.py
/mid_exam_prep/mid_exam_preparation.py
/06. Objects and Classes/pastebin.py
/06. Objects and Classes/Lab/pastebin.py
/06. Objects and Classes/Exersice/pastebin.py
/07. Dictionaries/Lab/pastebin.py
/07. Dictionaries/Exersice/pastebin.py
/02. Basic syntax, conditional statements and loops - exercise/.idea/.gitignore
/04. Functions/.idea/.gitignore
/mid_exam/01. Cooking Masterclass_Вход.docx
/mid_exam/02. Space Travel_Вход.docx
/mid_exam/03. Chat Logger_Вход.docx
/04. Functions/.idea/04. Functions.iml
/04. Functions/Exercise/04-Functions-Exercise.docx
/05. List Advanced/.idea/05. List Advanced.iml
/05. List Advanced/Exersice/05-Lists-Advanced-Exercise.docx
/06. Objects and Classes/Lab/07-Objects-and-Classes.pptx
/06. Objects and Classes/Exersice/07-Objects-and-Classes-Exercise.docx
/06. Objects and Classes/Lab/07-Objects-and-Classes-Lab.docx
/07. Dictionaries/Exersice/08-Dictionaries-Exercise.docx
/07. Dictionaries/Lab/08-Dictionaries-Lab.docx
/02. Basic syntax, conditional statements and loops - exercise/.idea/misc.xml
/04. Functions/.idea/misc.xml
/05. List Advanced/.idea/misc.xml
/02. Basic syntax, conditional statements and loops - exercise/.idea/modules.xml
/04. Functions/.idea/modules.xml
/05. List Advanced/.idea/modules.xml
/02. Basic syntax, conditional statements and loops - exercise/pastebin.py
/02. Basic syntax, conditional statements and loops - exercise/.idea/inspectionProfiles/profiles_settings.xml
/04. Functions/.idea/inspectionProfiles/profiles_settings.xml
/05. List Advanced/.idea/inspectionProfiles/profiles_settings.xml
/02. Basic syntax, conditional statements and loops - exercise/.idea/vcs.xml
/04. Functions/.idea/vcs.xml
/05. List Advanced/.idea/vcs.xml
/05. List Advanced/.idea/workspace.xml
/07. Dictionaries/Exersice/~$-Dictionaries-Exercise.docx
/08. Text Proccessing/Exersice/pastebin.py
